{
  "$schema": "https://json.schemastore.org/prettierrc",
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": false,
  "printWidth": 120,
  "arrowParens": "avoid",
  "tailwindFunctions": ["cn"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
